* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
}

h1 {
  padding: 10px;
}

h3 {
  align-content: center;
}

header {
  background-color: orangered;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
  padding-left: 5px;
}

header h4 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
  padding: 5px;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  /* width: 100%; */
}

footer p {
  color: grey;
}

footer h3 {
  font-size: 20px;
  padding: 10px;
}

#note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
#note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
#note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

div .box {
  position: relative;
  width: 100%;
  height: 250px;
  display: flex;

  margin: 40px;
  background: #060c21;
  transition: 0.5s;
}

div .box2 {
  position: relative;
  width: 100%;
  height: 350px;
  display: flex;

  margin: 40px;
  background: #060c21;
  transition: 0.5s;
}

div .box3 {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;

  margin: 40px;
  background: #060c21;
  transition: 0.5s;
}

div .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0px;
  box-sizing: border-box;
  align-self: center;
}

div .box2 .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0px;
  box-sizing: border-box;
  align-self: center;
}

div .box3 .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0px;
  box-sizing: border-box;
  align-self: center;
}

.box .imgBx img {
  max-width: 100%;
  opacity: 0.7;
  transition: 0.5s;
}

.box2 .imgBx img {
  max-width: 100%;
  opacity: 1;
  transition: 0.5s;
}

.box3 .imgBx img {
  max-width: 100%;
  opacity: 1;
  transition: 0.5s;
}

.box:hover .imgBx img {
  opacity: 1;
}

.box:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: white;
  z-index: -1;
}

.box:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: white;
  z-index: -2;
  filter: blur(30px);
}

.btn {
  position: absolutes;
}
